/* 
FONTS
*/

/* Bagel Fat One */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

/* Nanum Pen Script */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/*
    DEFAULT BROWSER STYLE RESETS
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    VARIABLE COLORS
*/

:root {
    --button-secondary-color: #00B2B3;
    --button-primary-color: #00E5E5;
    --body-secondary-color: #FF8E9C;
    --body-primary-color: #FFC0CD;
}


body {
    background-color: #eee1e4;
    font-family: 'Nanum Pen Script', cursive;
}

#container{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5% auto;
    width: 600px;
    height: 80vh;
    border: 1px solid lightgrey;
    background: linear-gradient(30deg,  var(--body-secondary-color) 70%, var(--body-primary-color) 20%);
}

#header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-primary-color);
    width: 100%;
    height: 150px;
    padding: 30px;
}

#your-loc-image-div{
    display: flex;
    justify-content: start;
    align-items: center;
}

#your-loc-image-div img{
    height: 64px;
    width: 64px;
    outline: none;
}


#your-loc-image-div #your-temp-wrapper{
    font-size: 12px;
}

#weather-text{
    font-family: 'Bagel Fat One', cursive;
}

#your-loc-details #date-time{
  color: lightgrey;
  font-family: 'Nanum Pen Script', cursive;
}

#city-ticker{
    font-size: 27px;
    font-family: 'Bagel Fat One', cursive;
}

#date-time{
    color: var(--body-secondary-color);
}

.fa{
    color: var(--button-secondary-color);
}

#loader{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-secondary-color);
    width: 100%;
    height: 150px;
    padding: 30px;
    z-index: 1;
    opacity: 0.5;
    background-color: black;
    color: #fff;
}

#header:hover{
    box-shadow: var(--button-secondary-color) 0 2px 5px 0;
}

#loader span{
    margin: auto;
    width: 200px;
    font-size: 20px;
    transition: all 0.3s;
}

#loader .show{
    display: block;
}

#added-weather-location{
    position: relative;
    display: flex;
    padding: 30px;
}

#add-new-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid var(--button-secondary-color);
    border-radius: 50%;
    background: var(--button-secondary-color);
}

#add-new-btn .fa-plus{
    font-size: 20px;
}

#add-new-btn:hover {
        background: transparent;
    }

#add-new-btn i{
    color: #fff;
}

#add-new-btn:hover i {
    color: var(--button-secondary-color);
}

#new-location-list {
    position: absolute;
    left: 80px;
    background-color: var(--body-primary-color);
    padding: 10px;
    border-radius: 15px;
    margin-left: 20px;
    width: 400px;
    transition
}

#new-location-list.hide {
    transform: translate(500px);
    transition: transform 0.3s ease;
}

.location-item{
    display: flex;
    justify-content: space-between;
    background-color:  var(--body-secondary-color);
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.location-item:hover{
    transform: scale(1.05, 1.05);
}

#create-new-location-wrapper {
    position: absolute;
    left: 80px;
    padding: 10px;
    margin-left: 20px;
    display: none;
    width: 400px;
    transform: translateX(500px);
    border-radius: 10px;
    background: #e6d3d3;
    opacity: 0.5;
}

#create-new-location-wrapper.show{
    display:block;
    transform: translateX(0px);
    transition: transform 2s ease-out;
}

#close-add-form-btn {
    float: right;
    top:0;
    right:0;
    background: transparent;
    border:none;
    cursor: pointer;
}

#close-add-form-btn i{
    color: red;
}

#close-add-form-btn:hover i{
    color: var(--button-secondary-color);
}

#new-loc-input{
        width: 350px;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 2px solid grey;
        outline: none;
        font-size: 1.2rem;
    }

#submit-btn {
        margin-top: 10px;
        background-color: var(--button-secondary-color);
        background: transparent;
        border: 2px solid var(--button-secondary-color);
        height: 40px;
        width: 80px;
        border-radius: 40px;
        padding: 5px;
        /*cursor: pointer;*/
    }

    #submit-btn i {
        color: var(--button-secondary-color);
    }

#submit-btn:hover{
    background: var(--button-secondary-color);
}


#submit-btn:hover i{
    color: #fff;
}
